/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* _______________________________________maine color____________________________________ */


/* _______________________________________fonts style____________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
/* font-family: 'Just Another Hand', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/* font-family: 'Rock Salt', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
/* font-family: 'Beth Ellen', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap');
/* font-family: 'Spartan', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
/* font-family: 'Fugaz One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* font-family: 'Shrikhand', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
/* font-family: 'Racing Sans One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap');
/* font-family: 'Marvel', sans-serif; */



/* _________________________________________base style___________________________________ */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.new-body{
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
}

/* ________________________________________Header___________________________________________ */
header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 90000;
    pointer-events: none;
}

header > .name{
    color: white;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.8vw;
    letter-spacing: 0.4vw;
    position: absolute;
    top: 6%;
    left: 4%;
}

.page{
    position: absolute;
    left: 4%;
    width: 1%;
    height: 4%;
    -webkit-transition: .8s cubic-bezier(1, -0.35, 0, 1.38);
    -o-transition: .8s cubic-bezier(1, -0.35, 0, 1.38);
    transition: .8s cubic-bezier(1, -0.35, 0, 1.38);
}

header > .page:nth-child(2){
    top: 78%;
}

header > .page:nth-child(3){
    top: 83%;
}

header > .page:nth-child(4){
    top: 88%;
}

.page > div:nth-child(1){
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -1vw;
    z-index: 9002;
    width: 1vw;
    height: 15%;
    background: rgb(35,48,26);
    background: -webkit-gradient(linear, left top, right top, from(rgba(35,48,26,1)), color-stop(81%, rgba(75,111,46,1)), to(rgba(129,189,72,1)));
    background: -o-linear-gradient(left, rgba(35,48,26,1) 0%, rgba(75,111,46,1) 81%, rgba(129,189,72,1) 100%);
    background: linear-gradient(90deg, rgba(35,48,26,1) 0%, rgba(75,111,46,1) 81%, rgba(129,189,72,1) 100%);
    border-radius: 2px 0 0 2px;
}

.page > div:nth-child(2){
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -1vw;
    z-index: 9002;
    width: 1vw;
    height: 15%;
    background: rgb(35,48,26);
    background: -webkit-gradient(linear, right top, left top, from(rgba(35,48,26,1)), color-stop(81%, rgba(75,111,46,1)), to(rgba(129,189,72,1)));
    background: -o-linear-gradient(right, rgba(35,48,26,1) 0%, rgba(75,111,46,1) 81%, rgba(129,189,72,1) 100%);
    background: linear-gradient(270deg, rgba(35,48,26,1) 0%, rgba(75,111,46,1) 81%, rgba(129,189,72,1) 100%);
    border-radius: 0 2px 2px 0;
}

.page > div:nth-child(3){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 12%;
    z-index: 9001;
    border: solid #ff6a00 5px;
    opacity: .5;
    -webkit-filter: blur(4px);
            filter: blur(4px);
}

.page > div:nth-child(4){
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 8%;
    z-index: 9001;
    background-color: rgb(255, 228, 129);
}

.page > div:nth-child(5){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 10%;
    z-index: 9000;
    background-color: rgb(255, 199, 73);
    -webkit-filter: blur(9px);
            filter: blur(9px);
}

.openCross{
    width: 6%;
}

.link{
    position: absolute;
    top: 6%;
    right: 4%;
    z-index: 90000;
    width: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events: all;
}

.link > a{
    width: 22%;
}

.link > a:nth-child(3){
    width: 25%;
}

/* __________________________________portfolio style____________________________________ */
.portfolio {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 12;
    color: rgb(246, 246, 246);
    pointer-events: none;
}

.P_folio{
    -webkit-animation: portfolio .5s .2s forwards;
            animation: portfolio .5s .2s forwards;
    opacity: 0;
}

@-webkit-keyframes portfolio {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes portfolio {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.P_folio_back{
    -webkit-animation: portfolio_back .5s forwards;
            animation: portfolio_back .5s forwards;
}

@-webkit-keyframes portfolio_back {
    0%{
    }
    100%{
        opacity: 0;
    }
}

@keyframes portfolio_back {
    0%{
    }
    100%{
        opacity: 0;
    }
}

h1{
    font-size: 7.5vw;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    letter-spacing: .15em;
    -webkit-filter: blur(.8px);
            filter: blur(.8px);
}

.portfolio > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.8vw;
    letter-spacing: 0.4vw;
    position: absolute;
    bottom: 10%;
    right: 7%;
}

/* ____________________________________.lamp first _______________________________________ */
.fixed_light{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.up{
    -webkit-animation: mainUp;
            animation: mainUp;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(1, -0.21, 0.92, 0.79);
            animation-timing-function: cubic-bezier(1, -0.21, 0.92, 0.79);
}

.down{
    -webkit-animation: mainDown;
            animation: mainDown;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(1, -0.21, 0.92, 0.79);
            animation-timing-function: cubic-bezier(1, -0.21, 0.92, 0.79);
    animation-direction: reverse;
    opacity: 0;
}

.lamp{
    position: absolute;
    z-index: 20000;
    height: auto;
}

.fixed_light > .lamp:nth-child(2) {
    top: -152%;
    left: 31%;
    width: 19%;
    -webkit-filter: blur(11px);
            filter: blur(11px);
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

.fixed_light > .lamp:nth-child(3) {
    top: -63%;
    left: 78%;
    width: 13%;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
}

.fixed_light > .lamp:nth-child(4) {
    top: -34%;
    left: 7%;
    width: 11%;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

.fixed_light > .lamp:nth-child(5) {
    top: 10%;
    left: 40%;
    width: 7.5%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    z-index: 1;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.fixed_light > .lamp:nth-child(6) {
    top: 44%;
    left: 62%;
    width: 4.5%;
    -webkit-filter: blur(7px);
            filter: blur(7px);
    z-index: 1;
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

.filament{
    position: absolute;
    top: 69%;
    z-index: 2001;
    width: 1.8%;
    height: 23%;
    background-color: rgb(255, 238, 0);
    border-radius: 4px;
    -webkit-filter: blur(1.5px);
            filter: blur(1.5px);
}

.Z-img{
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1999;
    width: 100%;
    height: auto;
}

.lamp > .filament:nth-child(2){
    left: 33%;
}

.lamp > .filament:nth-child(3){
    left: 42%;
}

.lamp > .filament:nth-child(4){
    left: 56%;
}

.lamp > .filament:nth-child(5){
    left: 65%;
}

.lumiereAvant{
    position: absolute;
    bottom: 2%;
    left: 50%;
    z-index: 2002;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 87%;
    height: 33%;
    background-color: rgb(255, 213, 58);
    opacity: 0.7;
    border-radius: 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
}

.lumiereLiaison{
    position: absolute;
    bottom: 1%;
    left: 50%;
    z-index: 1998;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 108%;
    height: 35%;
    background-color: rgb(255, 176, 130);
    opacity: 0.8;
    border-radius: 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
}

.lumiereArriere{
    position: absolute;
    bottom: -19%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 249%;
    height: 63%;
    z-index: 1997;
    background-color: rgb(255, 176, 130);
    opacity: 0.2;
    border-radius: 50%;
    -webkit-filter: blur(100px);
            filter: blur(100px);
}

/* ____________________________________light background style__________________________ */
.background-light{
    width: 100%;
    height: 100%;
    background: -o-radial-gradient(bottom,  ellipse,  #826617 -100%, rgb(6, 3, 0) 60%);
    background: radial-gradient(ellipse at bottom,  #826617 -100%, rgb(6, 3, 0) 60%);
    position: fixed;
    overflow: hidden;
}

.focal {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: .3;
    width: 250%;
    height: 204%;
    position: absolute;
    top: -63%;
    left: -75%;
    background: -o-radial-gradient(circle, rgba(0,0,0,1) 35%, rgb(105 86 62) 38%, rgba(0,0,0,1) 39%);
    background: radial-gradient(circle, rgba(0,0,0,1) 35%, rgb(105 86 62) 38%, rgba(0,0,0,1) 39%);
}

.light-blur{
    position: absolute;
    background-color: #e5b955;
    border-radius: 50%;
}

.background-light > .light-blur:nth-child(2){
    bottom: 11%;
    left: 30%;
    width: 5%;
    height: 15%;
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: .6;
}

.background-light > .light-blur:nth-child(3){
    bottom: 9%;
    left: 54%;
    width: 3%;
    height: 10%;
    -webkit-filter: blur(32px);
            filter: blur(32px);
    opacity: .6;
}

.background-light > .light-blur:nth-child(4){
    bottom: 5%;
    left: 41%;
    width: 2%;
    height: 8%;
    -webkit-filter: blur(32px);
            filter: blur(32px);
    opacity: .6;
}

.background-light > .light-blur:nth-child(5){
    bottom: 3%;
    left: 50%;
    width: 1%;
    height: 6%;
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: .6;
}

.background-light > .light-blur:nth-child(6){
    bottom: -8%;
    left: 35%;
    width: 25%;
    height: 16%;
    -webkit-filter: blur(62px);
            filter: blur(62px);
    opacity: .2;
}

/* ____________________________________books________________________________________ */
.books {
    position: absolute;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.resp {
    height: auto;
    width: 100%;
}

.big_lamp {
    width: 30%;
    height: 30%;
    position: absolute;
    top: -2%;
    left: -50%;
    z-index: 1002;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
}

.left{
    -webkit-animation: doc_left 1s .6s forwards;
            animation: doc_left 1s .6s forwards;    
}

@-webkit-keyframes doc_left {
    0%{
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }
    40%{
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
        left: 16%;
    }
    60%{
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        left: 16%;
    }
    80%{
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
        left: 16%;
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        left: 16%;
    }
}

@keyframes doc_left {
    0%{
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }
    40%{
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
        left: 16%;
    }
    60%{
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        left: 16%;
    }
    80%{
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
        left: 16%;
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        left: 16%;
    }
}

.left_back{
    -webkit-animation: doc_left_back .7s forwards;
            animation: doc_left_back .7s forwards;    
}

@-webkit-keyframes doc_left_back {
    0%{        
        -webkit-transform: rotate(0deg);        
                transform: rotate(0deg);
        left: 16%;
    }
    20%{
        -webkit-transform: rotate(-9deg);
                transform: rotate(-9deg); 
    }
    100%{
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
        left: -50%;
    }
}

@keyframes doc_left_back {
    0%{        
        -webkit-transform: rotate(0deg);        
                transform: rotate(0deg);
        left: 16%;
    }
    20%{
        -webkit-transform: rotate(-9deg);
                transform: rotate(-9deg); 
    }
    100%{
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
        left: -50%;
    }
}

.on-lamp {
    position: absolute;
    top: 75%;
    left: 0%;
    width: 100%;
    height: auto;
    z-index: 10;
    -webkit-transform: scale(2.6);
        -ms-transform: scale(2.6);
            transform: scale(2.6);
    pointer-events: none;
}

.doc1{
    position: absolute;
    left: 49%;
    width: 58%;
    height: auto;
    z-index: 10;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-transform: scale(.5) rotate(-4deg);
        -ms-transform: scale(.5) rotate(-4deg);
            transform: scale(.5) rotate(-4deg);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
}

.doc1:hover{
    -webkit-transform: scale(.53) rotate(-3deg);
        -ms-transform: scale(.53) rotate(-3deg);
            transform: scale(.53) rotate(-3deg);
}

.box_doc{
    position: absolute;
    top: -20%;
    left: 45%;
    width: 100%;
    height: auto;
}

.right{
    -webkit-animation: doc_right 1s .5s cubic-bezier(0.64, -0.01, 0.24, 1.27) forwards;
            animation: doc_right 1s .5s cubic-bezier(0.64, -0.01, 0.24, 1.27) forwards;    
}

@-webkit-keyframes doc_right {
    100%{
        left: 1%;
    }
}

@keyframes doc_right {
    100%{
        left: 1%;
    }
}

.right_back{
    -webkit-animation: doc_right_back .3s cubic-bezier(1, -0.21, 0.92, 0.79) forwards;
            animation: doc_right_back .3s cubic-bezier(1, -0.21, 0.92, 0.79) forwards;    
}

@-webkit-keyframes doc_right_back {
    0%{
        left: 1%;
    }
    100%{
        left: 45%;
    }
}

@keyframes doc_right_back {
    0%{
        left: 1%;
    }
    100%{
        left: 45%;
    }
}

.doc2 {
    position: absolute;
    top: -45%;
    left: -4%;
    width: 200%;
    height: 200%;
    z-index: 10;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    overflow: hidden;
    opacity: .55;
    pointer-events: none;
}

.doc{
    -webkit-animation: doc 1s .6s forwards;
            animation: doc 1s .6s forwards;
}

@-webkit-keyframes doc {
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        top: 0%;
    }
    50%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    65%{
        -webkit-transform: rotate(3deg);
                transform: rotate(3deg);
    }
    80%{
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
        top: -45%;
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        top: -45%;
    }
}

@keyframes doc {
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        top: 0%;
    }
    50%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    65%{
        -webkit-transform: rotate(3deg);
                transform: rotate(3deg);
    }
    80%{
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
        top: -45%;
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        top: -45%;
    }
}

.doc_back{
    -webkit-animation: doc_back .5s forwards;
            animation: doc_back .5s forwards;
}

@-webkit-keyframes doc_back{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        top: -45%;
    }
    40%{
        -webkit-transform: rotate(2.5deg);
                transform: rotate(2.5deg);
        top: -55%;
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        top: -45%;
    }
}

@keyframes doc_back{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        top: -45%;
    }
    40%{
        -webkit-transform: rotate(2.5deg);
                transform: rotate(2.5deg);
        top: -55%;
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        top: -45%;
    }
}

.box_shadow{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shadow {
    position: absolute;
    top: -14%;
    left: -2%;
    height: 50%;
    width: 115%;
    background-color: black;
    z-index: 120;
    pointer-events: none;
    -webkit-filter: blur(15px);
            filter: blur(15px);
}

.grille_sadow{
    width: 243%;
    height: 149%;
    position: absolute;
    top: -12%;
    left: -55%;
}

.rot_shadow{
    -webkit-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
            transform: rotate(7deg);
}

.feuille {
    width: 90%;
    height: auto;
    position: absolute;
    top: 2%;
    left: 2.5%;
    z-index: -1;
}

.title-l4r{
    position: absolute;
    top: 25%;
    left: 53%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 5vw;
    font-family: 'Beth Ellen', cursive;
    color: rgb(85 85 85);
}

.img_l4r{
    position: absolute;
    top: 61.5%;
    left: 61%;
    z-index: 100;
    width: 36%;
    -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
            transform: rotate(1deg);
    height: auto;
}

.agraffe{
    position: absolute;
    top: 62%;
    left: 83.6%;
    z-index: 101;
    width: 20%;
    -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg);
    height: auto;
}

.link-l4r{
    position: absolute;
    top: 67%;
    left: 22%;
    z-index: 100;
    border: solid .3vw white;
    border-radius: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1vw 10vw;
    cursor: pointer;
    width: 18%;
    height: 10%;
}

.link-l4r > span{
    color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 2vw;
    line-height: 2vw;
}

/* ___________________________________about me_____________________________ */
.about {
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Marvel', sans-serif;
}

.ani_about{
    -webkit-animation: about 1s ease forwards;
            animation: about 1s ease forwards;
}

@-webkit-keyframes about {
    0%{
        top: 150%;
    }
    100%{
        top: 0;
    }
}

@keyframes about {
    0%{
        top: 150%;
    }
    100%{
        top: 0;
    }
}

.ani_about_back{
    -webkit-animation: about_back 1s cubic-bezier(0.64, -0.01, 0.24, 1.27) forwards;
            animation: about_back 1s cubic-bezier(0.64, -0.01, 0.24, 1.27) forwards;
}

@-webkit-keyframes about_back {
    0%{
        top: 0%;
    }
    100%{
        top: 150%;
    }
}

@keyframes about_back {
    0%{
        top: 0%;
    }
    100%{
        top: 150%;
    }
}

/* _____________________________panneau_______________________ */
.panneau{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: auto;
    overflow: hidden;
}

.panneau_text{
    position: absolute;
    top: 16%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;
    width: 70%;
    height: auto;
}

.panneau_light{
    position: absolute;
    top: -45%;
    width: 26%;
    z-index: 1000001;
    height: 105%;
    filter: brightness(2) blur(8px);
    border-radius: 50%;
    background-color: #fbea73;
    opacity: 0;
}

.p_light{
    animation: p_light .5s .8s ease forwards;
}

@keyframes p_light{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.15;
    }
}

.panneau > div:nth-child(2){
    left: 8%;
}

.panneau > div:nth-child(3){
    left: 37%;
}

.panneau > div:nth-child(4){
    left: 66%;
}

.panneau_bright{
    width: 93%;
    height: 67%;
    z-index: 100000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    opacity: .9;
}

.p_bright{
    animation: p_bright .3s .8s ease forwards;
}

@keyframes p_bright{
    0%{
        opacity: .9;
    }
    100%{
        opacity: .5;
    }
}

.panneau_passion{
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 80%;
}

.panneau_passion > div{
    padding: 0 5% 0 5%;
    width: 35%;
}

.panneau_skill{
    position: absolute;
    top: 54%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72%;
    height: auto;
}
.panneau_skill > span{
    font-size: 1.1vw;
}

.basketball{
    width: 11%;
    height: auto;
    position: absolute;
    top: 28%;
    left: 71%;
    opacity: .2;
}

.lame{
    width: 12%;
    height: auto;
    position: absolute;
    top: 27%;
    left: 43%;
    opacity: .2;
}

.techno{
    width: 11%;
    height: auto;
    position: absolute;
    top: 26%;
    left: 17%;
    opacity: .2;
}

.panneau_h4{
    width: 100%;
}

h4{
    font-size: 2.5vw;
    letter-spacing: .1vw;
    font-family: 'Racing Sans One', cursive;
    -webkit-text-stroke: .01vw black;
}

h5{
    font-size: 1.5vw;
    letter-spacing: .1vw;
    font-family: 'Racing Sans One', cursive;
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
}

.projo{
    position: absolute;
    top: 64%;
    left: 61%;
    transform: translateX(-50%);
    z-index: 999999;
    width: 100%;
    height: 10%;
}

.projo > div{
    position: absolute;
    top: 0;
    width: 6%;
    height: 45%;
}

.projo > div:nth-child(1), 
.projo > div:nth-child(4){
    left: 7%;
}

.projo > div:nth-child(2), 
.projo > div:nth-child(5){
    left: 36%;
}

.projo > div:nth-child(3),
.projo > div:nth-child(6){
    left: 65%;
}

.projo_light{
    z-index: -1;
    background-color: #fff2b2;
    filter: blur(4px);
    opacity: 0;
}

.pj_light{
    animation: pj_light .7s .8s ease forwards;
}

@keyframes pj_light{
    0%{
        opacity: 0;
    }
    100%{
        opacity: .8;
    }
}

.panneau_shadow{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    height: 50%;
    overflow: hidden;
}

.projo_shadow{
    position: absolute;
    top: 77%;
    width: 28%;
    height: 68%;
    z-index: 1111;
    background-color: black;
    transform: rotate(45deg);
    filter: blur(15px);
    opacity: 0;
}

.pj_shadow{
    animation: pj_shadow .7s .7s ease forwards;
}

@keyframes pj_shadow{
    0%{
        opacity: 0;
    }
    100%{
        opacity: .5;
    }
}

.panneau_shadow > div:nth-child(1){
    left: -10%;
}

.panneau_shadow > div:nth-child(2){
    left: 23%;
}

.panneau_shadow > div:nth-child(3){
    left: 54%;
}

.panneau_shadow > div:nth-child(4){
    left: 87%;
}

/*_______________________________________________ paper___________________________________________ */
.paper{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.place_paper{
    position: absolute;
    right: -70%;
    top: -2%;
    width: 70%;
    height: auto;
    z-index: 100000;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.close{
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 1;
    width: 5%;
    height: 3%;
    cursor: pointer;
}

.close > div:nth-child(1){
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #a12828;
    width: 100%;
    height: 10%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.close > div:nth-child(2){
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #a12828;
    width: 100%;
    height: 10%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.close:hover > div:nth-child(1){
    top: 91%;
    left: -60%;
    background-color: #a12828;
    width: 150%;
    height: 10%;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}

.close:hover > div:nth-child(2){
    top: 57%;
    left: 30%;
    width: 69%;
}

.text_l4r {
    position: absolute;
    top: 1%;
    left: 0%;
    overflow-y: scroll;
    height: 55%;
    width: 100%;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0 15% 0 15%;
    overflow-x: hidden;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: rgb(39, 39, 87);
}

.asso{
    font-size: 2vw;
    font-weight: 400;
    padding: 10% 0 0 1%;
    color: white;
    position: relative;
    z-index: 10000;
}

.title_l4r{
    font-size: 6vw;
}

.back_blue{
    width: 53%;
    height: 29%;
    background-color: #2b3ae217;
    position: absolute;
    top: 8%;
    left: 25%;
}

.logo{
    position: absolute;
    top: 6%;
    left: 67%;
    z-index: 10000;
    width: 17%;
    height: auto;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}

.link_site{
    width: 17%;
    height: 6%;
    position: absolute;
    top: 35%;
    left: 19%;
    z-index: 10000;
    border: solid .15vw #a12828;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #a12828;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    text-decoration: none;
}

.link_site:hover{
    background-color: #a12828;
    color: rgba(255, 255, 255, 0.822);
}

.link_site > span:nth-child(1){
    font-size: 1vw;
}

.role_date_ap{
    position: relative;
    top: 10%;
    left: 50%;
    width: 120%;
    -webkit-transform: translateX(-48%);
        -ms-transform: translateX(-48%);
            transform: translateX(-48%);
    padding-top: 15%;
}

.role_date_ap > div:nth-child(1){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.role, .date, .aper{
    width: 100%;
    position: relative;
    z-index: 10000;
}

.role > p, .date > p, .aper > p{
    line-height: 1.5vw;
}

h3{
    padding-bottom: 2%;
    font-weight: 600;
    font-size: 1.2vw;
    letter-spacing: .1vw;
}

p{
    line-height: 1.4;
    font-size: .95vw;
}

.screen_pc{
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 6% 0 8% 0;
    width: 70%;
    height: auto;
}

.screen_phone{
    position: absolute;
    top: 23%;
    left: 12%;
    z-index: 10000;
    width: 16%;
    height: auto;
}

.img_large{
    position: relative;
    left: -11.5%;
    width: 120%;
    padding: 5% 0 5% 0;
}

.back_white{
    position: absolute;
    top: 5%;
    left: 6%;
    z-index: -1;
    background-color: white;
    width: 55%;
    height: 66%;
    opacity: .15;
}

.concept, .develop{
    position: relative;
    z-index: 10000;
}

.concept > p, .develop > p{
    line-height: 1.5vw;
}

.footer_l4r{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 108%;
    background-color: #2b3ae217;
    padding: 3%;
    margin-top: 6%;
}

.footer_l4r > a{
    width: 5%;
    height: auto;
    margin: 0 2% 0 2%;
    cursor: pointer;
}

.glass{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10000;
    width: 100%;
    height: 100%;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    -webkit-transition-delay: .2s;
         -o-transition-delay: .2s;
            transition-delay: .2s;
    pointer-events: none;
}

/* ________________________________________________animation___________________________________________________ */
@-webkit-keyframes mainUp {
    from{
        
    }
    to{
        top: -150em;
    }
}

@keyframes mainUp {
    from{
        
    }
    to{
        top: -150em;
    }
}

@-webkit-keyframes mainDown {
    0%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        top: -150em;
        opacity: 0;
    }
}

@keyframes mainDown {
    0%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        top: -150em;
        opacity: 0;
    }
}

@-webkit-keyframes turn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    11%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

@keyframes turn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    11%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}