/* _______________________________________maine color____________________________________ */
/* _______________________________________fonts style____________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
/* font-family: 'Just Another Hand', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/* font-family: 'Rock Salt', cursive; */

/* _________________________________________base style___________________________________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 300vh;
}

.background-light{
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at bottom,  #826617 -100%, rgb(6, 3, 0) 60%);
    position: fixed;
    overflow: hidden;
}

/* __________________________________portfolio style____________________________________ */
.portfolio {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    color: rgb(246, 246, 246);
}

h1{
    font-size: 7.5vw;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    letter-spacing: .15em;
    filter: blur(.8px);
}

.portfolio > span {
    display: flex;
    justify-content: flex-end;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.6vw;
    letter-spacing: 5px;
    position: absolute;
    bottom: 10%;
    right: 7%;
}

/* _________________________________fixed light_________________________________________ */
.fixed_light{
    position: absolute;
    top: 0;
    left: 0;
    height: 120vh;
    width: 100%;
    overflow: hidden;
}

/* ____________________________________.background-light style_______________________________________ */
.position_light_1{
    position: absolute;
    top: -450px;
    left: 79%;
    z-index: 12
}

.position_light_2{
    position: absolute;
    top: -430px;
    left: 9%;
    z-index: 13;
}

.position_light_3{
    position: absolute;
    top: -240px;
    left: 47%;
    z-index: 7;
}

.position_light_4{
    position: absolute;
    top: -1600px;
    left: 32%;
    z-index: 35;
}

.parallax{
    transition: .1s linear;
}

.container{
    width: 180px;
    height: 1065px;
    transform: scale(2);
}

.size_c1{
    position: absolute;
}

.size_c2{
    position: absolute;
    filter: blur(.5px);
    transform: scale(-1.7, 1.7);
}

.size_c3{
    position: absolute;
    filter: blur(4px);
    transform: scale(1);
}

.size_c4{
    position: absolute;
    filter: blur(4px);
    transform: scale(3);
}

.background-light > .container:nth-child(3){
    top: -142px;
    left: 66%;
    filter: blur(3px);
    z-index: 9;
    transform: scale(0.6);
}

.background-light > .container:nth-child(1){
    top: -90px;
    left: 26%;
    filter: blur(6px);
    z-index: 8;
    transform: scale(-0.5, 0.5);
}

.background-light > .container:nth-child(2){
    top: 5px;
    left: 50%;
    filter: blur(10px);
    z-index: 7;
    transform: scale(0.3);
}

/* _____________________________________light style______________________________________ */
.ampoule {
    background-image: url("../img/Ampoule.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: scale(0.8);
}

.ampoule > div {
    width: 1.5%;
    background-color: rgb(255, 238, 0);
    position: absolute;
    bottom: 5.5%;
    border-radius: 35%;
    opacity: 0.7;
    filter: blur(1px);
}

.ampoule > div:nth-child(1) {
    height: 18%;
    left: 35%;
}

.ampoule > div:nth-child(2) {
    height: 19%;
    left: 44%;
}

.ampoule > div:nth-child(3) {
    height: 19%;
    left: 58%;
}

.ampoule > div:nth-child(4) {
    height: 18%;
    left: 65.5%;
}

.container > div:nth-child(1) {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 267%;
    height: 30%;
    background-color: rgb(255, 176, 130);
    opacity: 0.2;
    border-radius: 50%;
    filter: blur(50px);
}

.container > div:nth-child(2) {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 20%;
    background-color: rgb(255, 176, 130);
    opacity: 0.8;
    border-radius: 50%;
    filter: blur(40px);
}

.container > div:nth-child(4) {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 25%;
    background-color: rgb(255, 213, 58);
    opacity: 1;
    border-radius: 50%;
    filter: blur(40px);
}

/* ____________________________________light background style__________________________ */
.light-blur {
    position: absolute;
    z-index: 1;
    background-color:rgb(255, 201, 80);
    border-radius: 6px;
}

.background-light > div:nth-child(4) {
    height: 50px;
    width: 25px;
    top: 640px;
    left: 60%;
    filter: blur(12px);
}

.background-light > div:nth-child(5) {
    height: 45px;
    width: 23px;
    top: 655px;
    left: 36%;
    filter: blur(13px);
}

.background-light > div:nth-child(6) {
    height: 35px;
    width: 18px;
    top: 705px;
    left: 45%;
    filter: blur(15px);
}

.background-light > div:nth-child(7) {
    height: 50px;
    width: 50px;
    top: 720px;
    left: 51%;
    filter: blur(31px);
    border-radius: 50%;
}

.background-light > div:nth-child(8) {
    height: 200px;
    width: 250px;
    top: 706px;
    left: 43%;
    filter: blur(101px);
    border-radius: 50%;
    opacity: .4;
}

.background-light > div:nth-child(9) {
    z-index: 1000;
    position: absolute;
    height: 2385px;
    width: 3000px;
    left: -28%;
    top: -145%;
    filter: blur(80px);
    border-radius: 50%;
    opacity: .7;
    border: solid 35px rgb(255, 201, 80);
}

/* ____________________________________books________________________________________ */
.books {
    position: relative;
    bottom: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.lamp {
    position: absolute;
    top: -35%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.resp {
    height: auto;
    width: 100%;
}

.on-lamp {
    position: absolute;
    top: -23%;
    left: -13%;
    width: 90%;
    height: auto;
    z-index: 10;
    filter: blur(1px);
    transform: scale(.8);
}

.off-lamp {
    display: none;
    position: absolute;
    top: -8.3%;
    left: -30.3%;
    width: 90%;
    height: auto;
    z-index: 10;
    filter: blur(1px);
    transform: scale(1.3);
}

.doc1{
    position: absolute;
    top: -44%;
    left: 31%;
    width: 90%;
    height: auto;
    z-index: 10;
    filter: blur(1px);
    transform: scale(.5) rotate(-4deg);
}

/* .doc1 {
    position: absolute;
    top: -44%;
    left: 71%;
    width: 90%;
    height: auto;
    z-index: 10;
    filter: blur(1px);
    transform: scale(0.88) rotate(0deg);
} */

.shadow {
    position: absolute;
    top: -14%;
    left: 24%;
    height: 50%;
    width: 100%;
    background-color: black;
    opacity: .6;
    z-index: 12;
    transform: rotate(11deg);
    pointer-events: none;
    filter: blur(15px);
}

.doc2{
    position: absolute;
    top: 26%;
    left: 31%;
    width: 86%;
    height: 71%;
    z-index: 10;
    transform: scale(1.4) rotate(16deg);
    filter: blur(9px);
    overflow: hidden;
    opacity: .6;
    pointer-events: none;
}

.feuille {
    position: absolute;
    top: 16%;
    left: 11.5%;
    z-index: -1;
    transform: scale(1.4);
}

/* .feuille {
    position: absolute;
    top: 16%;
    left: -47.5%;
    z-index: -1;
    transform: scale(1.4);
} */

/* ___________________________________about me_____________________________ */
.about {
    position: relative;
    bottom: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.pancarte {
    width: 43%;
    height: auto;
    position: relative;
    top: -33%;
    left: -14%;
}