/* _______________________________________maine color____________________________________ */
/* _______________________________________fonts style____________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
/* font-family: 'Just Another Hand', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/* font-family: 'Rock Salt', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
/* font-family: 'Beth Ellen', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap');
/* font-family: 'Spartan', sans-serif; */

/* _________________________________________base style___________________________________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.new-body{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
}

/* ________________________________________Header___________________________________________ */

header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 9000;
    pointer-events: none;
}

header > .name{
    color: white;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.8vw;
    letter-spacing: 0.4vw;
    position: absolute;
    top: 6%;
    left: 4%;
}

.page{
    position: absolute;
    left: 4%;
    width: 1%;
    height: 4%;
    transition: .8s cubic-bezier(1, -0.35, 0, 1.38);
}

header > .page:nth-child(2){
    top: 78%;
}

header > .page:nth-child(3){
    top: 83%;
}

header > .page:nth-child(4){
    top: 88%;
}

.page > div:nth-child(1){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1vw;
    z-index: 9002;
    width: 1vw;
    height: 15%;
    background: rgb(35,48,26);
    background: linear-gradient(90deg, rgba(35,48,26,1) 0%, rgba(75,111,46,1) 81%, rgba(129,189,72,1) 100%);
    border-radius: 2px 0 0 2px;
}

.page > div:nth-child(2){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1vw;
    z-index: 9002;
    width: 1vw;
    height: 15%;
    background: rgb(35,48,26);
    background: linear-gradient(270deg, rgba(35,48,26,1) 0%, rgba(75,111,46,1) 81%, rgba(129,189,72,1) 100%);
    border-radius: 0 2px 2px 0;
}

.page > div:nth-child(3){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 12%;
    z-index: 9001;
    border: solid #ff6a00 5px;
    opacity: .5;
    filter: blur(4px);
}

.page > div:nth-child(4){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 8%;
    z-index: 9001;
    background-color: rgb(255, 228, 129);
}

.page > div:nth-child(5){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 10%;
    z-index: 9000;
    background-color: rgb(255, 199, 73);
    filter: blur(9px);
}

.openCross{
    width: 6%;
}

/* __________________________________portfolio style____________________________________ */
.portfolio {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    color: rgb(246, 246, 246);
    pointer-events: none;
}

.P_folio{
    animation: portfolio .5s .2s forwards;
    opacity: 0;
}

@keyframes portfolio {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.P_folio_back{
    animation: portfolio_back .5s forwards;
}

@keyframes portfolio_back {
    0%{
    }
    100%{
        opacity: 0;
    }
}

h1{
    font-size: 7.5vw;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    letter-spacing: .15em;
    filter: blur(.8px);
}

.portfolio > span {
    display: flex;
    justify-content: flex-end;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.8vw;
    letter-spacing: 0.4vw;
    position: absolute;
    bottom: 10%;
    right: 7%;
}

/* ____________________________________.lamp first _______________________________________ */
.fixed_light{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.up{
    animation: mainUp;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, -0.21, 0.92, 0.79);
}

.down{
    animation: mainDown;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, -0.21, 0.92, 0.79);
    animation-direction: reverse;
    opacity: 0;
}

.lamp{
    position: absolute;
    z-index: 20000;
    height: auto;
}

.fixed_light > .lamp:nth-child(2) {
    top: -207%;
    left: 31%;
    width: 19%;
    filter: blur(11px);
    animation-delay: .1s;
}

.fixed_light > .lamp:nth-child(3) {
    top: -103%;
    left: 78%;
    width: 13%;
    filter: blur(2px);
    animation-delay: .3s;
}

.fixed_light > .lamp:nth-child(4) {
    top: -65%;
    left: 7%;
    width: 11%;
    filter: blur(1px);
    animation-delay: .1s;
}

.fixed_light > .lamp:nth-child(5) {
    top: -12%;
    left: 40%;
    width: 7.5%;
    filter: blur(4px);
    z-index: 1;
    animation-delay: 0s;
}

.fixed_light > .lamp:nth-child(6) {
    top: 30%;
    left: 62%;
    width: 4.5%;
    filter: blur(7px);
    z-index: 1;
    animation-delay: .1s;
}

.filament{
    position: absolute;
    top: 76.5%;
    z-index: 2001;
    width: 1.8%;
    height: 17.5%;
    background-color: rgb(255, 238, 0);
    border-radius: 4px;
    filter: blur(1.5px);
}

.Z-img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1999;
    width: 100%;
    height: auto;
}

.lamp > .filament:nth-child(2){
    left: 33%;
}

.lamp > .filament:nth-child(3){
    left: 42%;
}

.lamp > .filament:nth-child(4){
    left: 56%;
}

.lamp > .filament:nth-child(5){
    left: 65%;
}

.lumiereAvant{
    position: absolute;
    bottom: 2%;
    left: 50%;
    z-index: 2002;
    transform: translateX(-50%);
    width: 82%;
    height: 25%;
    background-color:rgb(255, 213, 58);
    opacity: 0.7;
    border-radius: 50%;
    filter: blur(40px);
}

.lumiereLiaison{
    position: absolute;
    bottom: 2%;
    left: 50%;
    z-index: 1998;
    transform: translateX(-50%);
    width: 82%;
    height: 25%;
    background-color: rgb(255, 176, 130);
    opacity: 0.8;
    border-radius: 50%;
    filter: blur(40px);
}

.lumiereArriere{
    position: absolute;
    bottom: -11%;
    left: 50%;
    transform: translateX(-50%);
    width: 250%;
    height: 45%;
    z-index: 1997;
    background-color: rgb(255, 176, 130);
    opacity: 0.2;
    border-radius: 50%;
    filter: blur(100px);
}

/* ____________________________________light background style__________________________ */

.background-light{
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom,  #826617 -100%, rgb(6, 3, 0) 60%);
    position: fixed;
    overflow: hidden;
}

.focal {
    filter: blur(0px);
    opacity: .3;
    width: 250%;
    height: 204%;
    position: absolute;
    top: -63%;
    left: -75%;
    background: radial-gradient(circle, rgba(0,0,0,1) 35%, rgb(105 86 62) 38%, rgba(0,0,0,1) 39%);
}

.light-blur{
    position: absolute;
    background-color: #e5b955;
    border-radius: 50%;
}

.background-light > .light-blur:nth-child(2){
    bottom: 11%;
    left: 30%;
    width: 5%;
    height: 15%;
    filter: blur(30px);
    opacity: .6;
}

.background-light > .light-blur:nth-child(3){
    bottom: 9%;
    left: 54%;
    width: 3%;
    height: 10%;
    filter: blur(32px);
    opacity: .6;
}

.background-light > .light-blur:nth-child(4){
    bottom: 5%;
    left: 41%;
    width: 2%;
    height: 8%;
    filter: blur(32px);
    opacity: .6;
}

.background-light > .light-blur:nth-child(5){
    bottom: 3%;
    left: 50%;
    width: 1%;
    height: 6%;
    filter: blur(30px);
    opacity: .6;
}

.background-light > .light-blur:nth-child(6){
    bottom: -8%;
    left: 35%;
    width: 25%;
    height: 16%;
    filter: blur(62px);
    opacity: .2;
}

/* ____________________________________books________________________________________ */

.books {
    position: absolute;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.resp {
    height: auto;
    width: 100%;
}

.big_lamp {
    width: 30%;
    height: 30%;
    position: absolute;
    top: -2%;
    left: -50%;
    z-index: 1002;
    transform-origin: top;
}

.left{
    animation: doc_left 1s .6s forwards;    
}

@keyframes doc_left {
    0%{
        transform: rotate(5deg);
    }
    40%{
        transform: rotate(5deg);
        left: 16%;
    }
    60%{
        transform: rotate(-5deg);
        left: 16%;
    }
    80%{
        transform: rotate(2deg);
        left: 16%;
    }
    100%{
        transform: rotate(0deg);
        left: 16%;
    }
}

.left_back{
    animation: doc_left_back .7s forwards;    
}

@keyframes doc_left_back {
    0%{        
        transform: rotate(0deg);
        left: 16%;
    }
    20%{
        transform: rotate(-9deg); 
    }
    100%{
        transform: rotate(2deg);
        left: -50%;
    }
}

.on-lamp {
    position: absolute;
    top: 75%;
    left: 0%;
    width: 100%;
    height: auto;
    z-index: 10;
    transform: scale(2.6);
    pointer-events: none;
}

.doc1{
    position: absolute;
    left: 49%;
    width: 58%;
    height: auto;
    z-index: 10;
    filter: blur(1px);
    transform: scale(.5) rotate(-4deg);
    transition: .3s ease;
    cursor: pointer;
}

.doc1:hover{
    transform: scale(.53) rotate(-3deg);
}

.box_doc{
    position: absolute;
    top: -20%;
    left: 45%;
    width: 100%;
    height: auto;
}

.right{
    animation: doc_right 1s .5s cubic-bezier(0.64, -0.01, 0.24, 1.27) forwards;    
}

@keyframes doc_right {
    100%{
        left: 1%;
    }
}

.right_back{
    animation: doc_right_back .3s cubic-bezier(1, -0.21, 0.92, 0.79) forwards;    
}

@keyframes doc_right_back {
    0%{
        left: 1%;
    }
    100%{
        left: 45%;
    }
}

.doc2 {
    position: absolute;
    top: -45%;
    left: -4%;
    width: 200%;
    height: 200%;
    z-index: 10;
    filter: blur(12px);
    overflow: hidden;
    opacity: .55;
    pointer-events: none;
}

.doc{
    animation: doc 1s .6s forwards;
}

@keyframes doc {
    0%{
        transform: rotate(0deg);
        top: 0%;
    }
    50%{
        transform: rotate(0deg);
    }
    65%{
        transform: rotate(3deg);
    }
    80%{
        transform: rotate(-2deg);
        top: -45%;
    }
    100%{
        transform: rotate(0deg);
        top: -45%;
    }
}

.doc_back{
    animation: doc_back .5s forwards;
}

@keyframes doc_back{
    0%{
        transform: rotate(0deg);
        top: -45%;
    }
    40%{
        transform: rotate(2.5deg);
        top: -55%;
    }
    100%{
        transform: rotate(0deg);
        top: -45%;
    }
}

.box_shadow{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shadow {
    position: absolute;
    top: -14%;
    left: -2%;
    height: 50%;
    width: 115%;
    background-color: black;
    z-index: 120;
    pointer-events: none;
    filter: blur(15px);
}

.grille_sadow{
    width: 243%;
    height: 149%;
    position: absolute;
    top: -12%;
    left: -55%;
}

.rot_shadow{
    transform: rotate(7deg);
}

.feuille {
    width: 90%;
    height: auto;
    position: absolute;
    top: 2%;
    left: 2.5%;
    z-index: -1;
}

.title-l4r{
    position: absolute;
    top: 25%;
    left: 53%;
    transform: translateX(-50%);
    font-size: 5vw;
    font-family: 'Beth Ellen', cursive;
    color: rgb(85 85 85);
}

.img_l4r{
    position: absolute;
    top: 61.5%;
    left: 61%;
    z-index: 100;
    width: 36%;
    transform: rotate(1deg);
    height: auto;
}

.agraffe{
    position: absolute;
    top: 62%;
    left: 83.6%;
    z-index: 101;
    width: 20%;
    transform: rotate(-4deg);
    height: auto;
}

.link-l4r{
    position: absolute;
    top: 67%;
    left: 22%;
    z-index: 100;
    border: solid .3vw white;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 10vw;
    cursor: pointer;
    width: 18%;
    height: 10%;
}

.link-l4r > span{
    color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 2vw;
    line-height: 2vw;
}

/* ___________________________________about me_____________________________ */
.about {
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    height: 100%;
}

.ani_about{
    animation: about 1s cubic-bezier(0.64, -0.01, 0.24, 1.27) forwards;
}

@keyframes about {
    0%{
        top: 150%;
    }
    100%{
        top: 0;
    }
}

.ani_about_back{
    animation: about_back 1s cubic-bezier(0.64, -0.01, 0.24, 1.27) forwards;
}

@keyframes about_back {
    0%{
        top: 0%;
    }
    100%{
        top: 150%;
    }
}

.pancarte {
    width: 18%;
    height: auto;
    position: absolute;
    top: -5%;
    right: -1%;
}

.lux{
    width: 15%;
    height: 5%;
    position: absolute;
    z-index: 101;
    animation-name: turn;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.pancarte > .lux:nth-of-type(1){
    top: 31.5%;
    left: 85%;
    animation-delay: 0s;
}

.pancarte > .lux:nth-of-type(2){
    top: 46.5%;
    left: 85%;
    animation-delay: 1s;
}

.pancarte > .lux:nth-of-type(3){
    top: 62%;
    left: 85%;
    animation-delay: 2s;
}

.pancarte > .lux:nth-of-type(4){
    top: 91.5%;
    left: 79%;
    animation-delay: 4s;
}

.pancarte > .lux:nth-of-type(5){
    top: 95.2%;
    left: 44%;
    animation-delay: 5s;
}

.pancarte > .lux:nth-of-type(6){
    top: 92%;
    left: 6%;
    animation-delay: 6s;
}

.pancarte > .lux:nth-of-type(7){
    top: 78.5%;
    left: -1%;
    animation-delay: 7s;
}

.pancarte > .lux:nth-of-type(8){
    top: 63.4%;
    left: -1%;
    animation-delay: 8s;
}

.pancarte > .lux:nth-of-type(9){
    top: 48%;
    left: -1%;
    animation-delay: 9s;
}

.pancarte > .lux:nth-of-type(10){
    top: 32.5%;
    left: -1%;
    animation-delay: 10s;
}

.pancarte > .lux:nth-of-type(11){
    top: 17%;
    left: -1%;
    animation-delay: 11s;
}

.pancarte > .lux:nth-of-type(12){
    top: -0.5%;
    left: 41%;
    animation-delay: 13s;
}

.pancarte > .lux:nth-of-type(13){
    top: 16.6%;
    left: 85%;
    animation-delay: 15s;
}

.lex{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgb(255 237 198);
    border-radius: 50%;
    filter: blur(8px);
    opacity: .7;
}

.xel{
    width: 158%;
    height: 177%;
    position: absolute;
    z-index: -25;
    top: -35.5%;
    left: -4%;
    background-color: rgb(255, 201, 80);
    border-radius: 50%;
    filter: blur(30px);
    opacity: .6;
}


/*_______________________________________________ paper___________________________________________ */

.paper{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.place_paper{
    position: absolute;
    right: -70%;
    top: -2%;
    width: 70%;
    height: auto;
    z-index: 100000;
    transition: .5s ease;
}

.close{
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 1;
    width: 5%;
    height: 3%;
    cursor: pointer;
}

.close > div:nth-child(1){
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #a12828;
    width: 100%;
    height: 10%;
    transform: rotate(-45deg);
    transition: .2s ease-in-out;
}

.close > div:nth-child(2){
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #a12828;
    width: 100%;
    height: 10%;
    transform: rotate(45deg);
    transition: .2s ease-in-out;
}

.close:hover > div:nth-child(1){
    top: 91%;
    left: -60%;
    background-color: #a12828;
    width: 150%;
    height: 10%;
    transform: rotate(0deg);
}

.close:hover > div:nth-child(2){
    top: 57%;
    left: 30%;
    width: 69%;
}

.text_l4r {
    position: absolute;
    top: 1%;
    left: 0%;
    overflow-y: scroll;
    height: 55%;
    width: 100%;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0 15% 0 15%;
    overflow-x: hidden;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: rgb(39, 39, 87);
}

.asso{
    font-size: 2vw;
    font-weight: 400;
    padding: 10% 0 0 1%;
    color: white;
    position: relative;
    z-index: 10000;
}

.title_l4r{
    font-size: 6vw;
}

.back_blue{
    width: 53%;
    height: 29%;
    background-color: #2b3ae217;
    position: absolute;
    top: 8%;
    left: 25%;
}

.logo{
    position: absolute;
    top: 6%;
    left: 67%;
    z-index: 10000;
    width: 17%;
    height: auto;
    transform: scaleX(-1);
}

.link_site{
    width: 20%;
    height: 6%;
    position: absolute;
    top: 35%;
    left: 19%;
    z-index: 10000;
    border: solid .15vw #a12828;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a12828;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    text-decoration: none;
}

.link_site:hover{
    background-color: #a12828;
    color: rgba(255, 255, 255, 0.822);
}

.link_site > span:nth-child(1){
    font-size: 1vw;
}

.role_date_ap{
    position: relative;
    top: 10%;
    left: 50%;
    width: 120%;
    transform: translateX(-48%);
    padding-top: 15%;
}

.role_date_ap > div:nth-child(1){
    display: flex;
    justify-content: space-around;
}

.role, .date, .aper{
    width: 100%;
    position: relative;
    z-index: 10000;
}

h3{
    padding-bottom: 2%;
    font-weight: 600;
    font-size: 1.2vw;
    letter-spacing: .1vw;
}

p{
    line-height: 1.4;
    font-size: .95vw;
}

.screen_pc{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 6% 0 6% 0;
    width: 70%;
    height: auto;
}

.screen_phone{
    position: absolute;
    top: 27%;
    left: 12%;
    z-index: 10000;
    width: 16%;
    height: auto;
}

.img_large{
    position: relative;
    left: -11.5%;
    width: 120%;
    padding: 5% 0 5% 0;
}

.back_white{
    position: absolute;
    top: 5%;
    left: 6%;
    z-index: -1;
    background-color: white;
    width: 55%;
    height: 66%;
    opacity: .15;
}

.concept, .develop{
    position: relative;
    z-index: 10000;
}  

.footer_l4r{
    display: flex;
    justify-content: flex-end;
    width: 108%;
    background-color: #2b3ae217;
    padding: 3%;
    margin-top: 6%;
}

.footer_l4r > a{
    width: 5%;
    height: auto;
    margin: 0 2% 0 2%;
    cursor: pointer;
}

.glass{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10000;
    width: 100%;
    height: 100%;
    transition: .4s ease;
    transition-delay: .2s;
    pointer-events: none;
}

/* ________________________________________________animation___________________________________________________ */

@keyframes mainUp {
    from{
        
    }
    to{
        top: -5000px;
    }
}

@keyframes mainDown {
    0%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        top: -5000px;
        opacity: 0;
    }
}

@keyframes turn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    11%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}




